graphics
beamercolorthemeDE.sty
beamerfontthemeDE.sty
beamerinnerthemeDE.sty
beamerouterthemeDE.sty
beamerthemeDE.sty
presentazione.aux
presentazione.bbl
presentazione.blg
presentazione.log
presentazione.nav
presentazione.out
presentazione.snm
presentazione.synctex.gz
presentazione.toc
README
tesi.aux
tesi.bbl
tesi.bcf
tesi.blg
tesi.log
tesi.out
tesi.run.xml
tesi.synctex.gz
tesi.toc
texput.log